a:hover 
{
  color: rgb(255, 183, 0);
}
.noListStyle
{
  list-style: none;
}
li
{
  font-size: 19px !important;
  margin: 0;
}
.servicesDisponibles 
{
  background-color: #F0E8F0;
  font-size: 27px;
  color: #A73120;
  border-top: 2px solid black;
}
.App-footer p
{
  text-align: right;
  color: #A73120;
}
.App-footer a
{
  color: #A73120;
  text-decoration: none;
  font-weight: bold;
}

h5, .center
{
  text-align: center;
  margin: 0 auto;
}