.Parcours
{
    margin: -13px;
    margin-top: 25px;
    padding: 15px;
    padding-bottom: 1px;
    box-shadow: 3px 3px 2px #12100e5c;
    border-radius: 15px;
    border: 2px solid #a73120;
    background-color: #F0E8F0;
}
.Parcours h3
{
    color: #a73120;
    border-bottom: 1px solid black;
}
.Parcours .ankaParcoursTopBorder
{
    border-bottom: 1px solid #000000;
    margin-left: 20px;
    margin-right: 20px;
}
.Parcours .ankaParcoursTopBorder .text
{
    line-height: 1;
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
}
.Parcours li.circle
{
    list-style: circle;
}
.Parcours li.text
{
    padding-top: 10px;
    line-height: 1;
}
.Parcours .ankaParcoursTop
{
    width: 350px;
}
.Parcours .AnkaParcoursBottom
{
    width: 300px;
}