.servicesRow
{
  padding-top: 50px;
  background-color: #F0E8F0;
  padding-bottom: 60px;
}
.servicesRowEnd
{
  background-color: #F0E8F0;
  padding-bottom: 60px;
}
.servicesList
{
  max-width: 35rem;
  text-align: center;
  color: #A74548;
}
.servicesList .footer
{
  color: #000;
}
.servicesList
{
  margin: 0 auto;
}