.temoignage
{
  background-image: linear-gradient(180deg, #650D67, #ffffff);
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  color: #fff;
}
.commentaire .caractereCommentaire 
{
  padding-top: 10px;
  margin: 0 auto;
}

.commentaire 
{
  padding-top: 15px;
  margin-bottom: 12px;
  background-color: #ffffff;
}
.commentaire .text 
{
  color: #000;
  text-align: justify;
}
.commentaire img 
{
  border-radius: 90px;
}

.commentaire h4, .commentaire p 
{
  color: #A73120;
  text-align: center;
}
.profilImage {
  text-align: center;
}
.center
{
  text-align: center;
  margin: 0 auto;
}