.temoignage
{
  background-image: linear-gradient(180deg, #650D67, #ffffff);
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  color: #fff;
}
.temoignage .commentaire .caractereCommentaire 
{
  margin: 0 auto;
  width: 80px;
}

.temoignage .commentaire 
{
  padding-top: 15px;
  margin-bottom: 12px;
  background-color: #ffffff;
}
.temoignage .commentaire .text 
{
  color: #000;
  text-align: justify;
  padding-left: 15px;
  margin-right: 15px;
}
.temoignage .commentaire img 
{
  border-radius: 90px;
}

.temoignage .commentaire h4, .commentaire p 
{
  color: #A73120;
  text-align: center;
}
.temoignage .profilImage {
  text-align: center;
}
.commentaire .backTo {
  text-align: right;
  color: #000;
  position: relative;
  top: 20px;
}